/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Poppins', Arial, sans-serif; /* Poppins is a modern font that's widely used */
    background-color: #f9f9f9;
    color: #333; /* Soften the text color for better readability */
    line-height: 1.6; /* Improve line spacing */
}

header {
    background-color: #005f73; /* Use a softer header color */
    color: #edf6f9;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #00b4d8; /* Add a highlight border */
    border-radius: 0 0 10px 10px; /* Rounded corners */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #edf6f9;
    background-color: #0077b6; /* Background color for links */
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #00b4d8; /* Lighter shade on hover */
}

.main-content {
    max-width: 800px;
    margin: 20px auto; /* Add some top margin for spacing */
    padding: 20px;
    background-color: #fff; /* Background color for content */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Shadow for depth */
    border-radius: 10px; /* Rounded corners */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table {
    width: 100%;
    margin-top: 20px;
}

footer {
    background-color: #0077b6; /* Match the footer with the header */
    color: #edf6f9;
    text-align: center;
    padding: 10px;
    margin-top: 20px; /* Ensure some space before the footer */
    border-top: 5px solid #00b4d8; /* Add a highlight border */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}