<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SAVY's Truth Table solver</title>
    <link rel="stylesheet" href="../staticFiles/style.css">
</head>
<body>
    <header>
        <h1>Welcome to SAVY's Truth Table solver</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for("hackathon2024")}}">Truth Table Generator</a></li>
                <li><a href="{{ url_for("about_us") }}">About</a></li>
                <li><a href="{{ url_for("help") }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        
        <h2>About Us</h2>
        <img src="../staticFiles/TCNJ1.jpg" alt="Photograph of TCNJ">
        <p> Our Truth Table Solver is designed for educational use, specifically in the classes of Discrete Mathematics, 
            Discrete Structures, and Computer Architecture. 
            Our primary goal is to simplify the process for students who are relatively new to these fields, 
            allowing them to swiftly determine whether they have correctly generated a truth table. 
            It's important to note that this tool should be used solely for verification purposes, 
            ensuring the accuracy of an individual's truth table.</p>
        <p>
            Additionally, our team comprises a diverse group of computer science majors:
        </p>
        <ul>
            <li>Yehuda Binik, a member of the TCNJ class of 2023.</li>
            <li>Andrew Michael, part of the TCNJ class of 2024.</li>
            <li>Vijay Manchiraju from the TCNJ class of 2026</li>
            <li>Stenneth Swaby, part of the TCNJ class of 2026</li>
        </ul>
     
        
        <table></table>
            
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="{{ url_for("hackathon2024") }}">Truth Table Generator</a></li>
                <li><a href="{{ url_for("about_us") }}">About</a></li>
                <li><a href="{{ url_for("help") }}">Contact</a></li>
            </ul>
        </nav>
        <p>&copy; 2024 Stenneth, Andrew, Vijay and Yehuda's Truth Table solver</p>
    </footer>
</body>
</html>