<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SAVY's Truth Table solver</title>
    <link rel="stylesheet" href="../staticFiles/style.css">
</head>
<body>
    <header>
        <h1>Welcome to SAVY's Truth Table solver</h1>
        <nav>
            <ul>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\Hackathon_2024.html">Truth Table Generator</a></li>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\AboutUs.html">About</a></li>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\Help.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% if errorMessage is defined %}
    <p id="error-message">{{errorMessage}}</p>
    {% endif %}

    <section class="main-content">
        <h2>Truth Table Generator</h2>
        <form action="/logic" method="POST"> <!-- Assuming you want to POST the data -->
            <nav>
                <ul>
                    <li><a href= ""value = "!">Negation</a></li>
                    <li><a href="" value = "&">Conjuntion</a></li>
                    <li><a href=""value = "|">Disjunction</a></li>
                    <li><a href=""value = "=>">Implication</a></li>
                    <li><a href="" value = "&lt=>">Bi-conditional</a></li>

                    
                </ul>
            </nav>
           
            <label for="userInput">Enter your logical expression here:</label>
            <input type="text" id="userInput" name="userInput">
            <button type="submit" onclick="displayUserInput()">Submit</button>
            </form>
                <p id="displayArea"></p>
    
            <script>
            function displayUserInput() {
                // Get the value from the input field
                var userInput = document.getElementById('userInput').value;

                buttons.forEach(element => {
                    button.forOperation("not",function(!)){

                    }
                });
                
                // Display the input value in the 'displayArea' paragraph
                document.getElementById('displayArea').textContent = userInput;
            }
            </script>
     
     <table>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>A AND B</th>
        </tr>
        <tr>
            <td>True</td>
            <td>True</td>
            <td>True</td>
        </tr>
        <tr>
            <td>True</td>
            <td>False</td>
            <td>False</td>
        </tr>
        <tr>
            <td>False</td>
            <td>True</td>
            <td>False</td>
        </tr>
        <tr>
            <td>False</td>
            <td>False</td>
            <td>False</td>
        </tr>
    </table>
    {% if header is defined %}
    <p id="header"> {{ header }} </p>
    {% endif %}

    {% if truthTable is defined %}
    <p id="truth-table"> {{ truthTable }} </p>
    {% endif %}        
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\Hackathon_2024.html">Truth Table Generator</a></li>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\AboutUs.html">About</a></li>
                <li><a href="C:\Users\stenn\OneDrive\Desktop\Project101\ModuleParser\templates\Help.html">Contact</a></li>
            </ul>
        </nav>
        <p>&copy; 2024 Stenneth, Andrew, Vijay and Yehuda's Truth Table solver</p>
    </footer>
</body>
</html>